body {
    font-family: Arial, sans-serif;
    margin:0;
    padding: 0;
    background-color: #000000e3;
    color: rgb(1, 255, 34);

}

header {
    background-color: #fcf9f9;
    color: green;
    padding: 1px;
    text-align: center;
}

main {
    padding: 20px;
}

section {
    margin-bottom: 30px;
}

.imgs {
    display: flex;
    flex-direction: column;
    align-items: center; 
    gap: 1rem; 
}

img {
    display: block;
    margin: 0 auto 1rem; 
    max-width: 50%;
    height: auto;
}

footer {
    background-color: #f9faf9;
    text-align: center;
    padding: 10px;
    color: black;
}
